@font-face {
  font-family: "Beleren Bold";
  src:
    url("https://unpkg.com/@saeris/typeface-beleren-bold@1.0.1/Beleren2016-Bold.woff") format("woff"),
    url("https://unpkg.com/@saeris/typeface-beleren-bold@1.0.1/Beleren2016-Bold.ttf") format("truetype"),
    url("https://unpkg.com/@saeris/typeface-beleren-bold@1.0.1/Beleren2016-Bold.svg#Beleren2016-Bold") format("svg");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPq_SuW4Ep0.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_gPq_ROW4.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url("https://fonts.gstatic.com/s/sandbox/materialsymbolsoutlined/v7/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2") format('woff2');
}

body {
  background: #333;
}

a {
  color: #5ec4eb;
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  color: #b6ebff;
}

.hr {
  width: 100%;
  border-bottom: solid 2px;
  border-color: #555;
  margin-top: 3px;
  margin-bottom: 6px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#title {
  font-family: 'Beleren Bold';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  font-size: min(30px, 10vw);
  user-select: none;
}

#menu-button {
  font-size: min(30px, 8vw);
  top: 50%;
  transform: translate(0, -50%);
  left: 1%;
  font-variation-settings: 'FILL'0, 'wght'300;
}

#help-button {
  font-size: min(30px, 8vw);
  top: 50%;
  transform: translate(125%, -50%);
  left: 1%;
  font-variation-settings: 'FILL'0, 'wght'250;
}

#top-nav .nav-buttons {
  cursor: pointer;
  color: #ddd;
  position: absolute;
  user-select: none;
  transition: color .5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#top-nav .nav-buttons:hover {
  cursor: pointer;
  color: #fff;
  position: absolute;
  user-select: none;
}

#top-nav {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(20, 20, 20, 0.7);
  height: 50px;
  height: min(50px, 15vw);
  z-index: 10;
}

.modalTitle {
  font-family: 'Beleren Bold';
  font-size: 25px;
}

.modalText {
  font-family: 'Roboto Mono';
  font-size: 13px;
}

#submitButton {
  position: absolute;
  width: 250px;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, max(120%, 9vw));
  background: #555;
  border: none;
  padding: 10px 30px;
  color: #ddd;
  border-radius: 10px;
  font-family: 'Beleren Bold';
  font-size: 20px;
  cursor: pointer;
  opacity: 1;
  / color .5s, background .5s, opacity 1.5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#submitButton:disabled {
  opacity: 0;
  cursor: default;
}

#submitButton:hover {
  background: #666666;
  color: #fff;
}

#rankArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + max(calc(50px - (50vh - 50%)), 0px)));
  display: block;
  text-align: center;
  width: 100%;
  user-select: none;
}

.cards {
  display: inline-block;
  margin: 1px 20px;
  vertical-align: top;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.cards.cardHover:hover .cardImage {
  transition: transform .5s;
  transform: scale(1.05);
}

.flip-button {
  margin-top: 15px;
  opacity: 1;
  color: #eee;
  border: 1px solid #eee;
  width: 75px;
  height: 25px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
  transition: color .5s, background .5s, opacity 1s !important;
  font-family: 'Roboto Mono';
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.flip-button:hover {
  color: #333;
  background: rgba(238, 238, 238, 1);
}

.flipButton-container {
  height: 50px;
}

.flip-card {
  background-color: transparent;
  width: min(240px, -28px + 60vw);
  height: min(335px, -40px + 85vw);
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(-180deg);
}

.opacity0 {
  opacity: 0 !important;
}

.opacity1 {
  opacity: 1 !important;
}

.cardImage {
  -moz-border-radius: 8% / 6%;
  -webkit-border-radius: 8% / 6%;
  transition: opacity 2s;
  object-fit: scale-down;
  opacity: 1;
  max-height: min(335px, -40px + 85vw);
  user-select: none;
  cursor: pointer;
  transition: transform .8s, opacity 2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.helpText {
  font-family: 'Roboto Mono';
  font-size: 13px;
}

#prankleImage {
  width: 50%;
  border-radius: 5%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
}

/* main menu */
.menuButton {
  background: #333;
  border: none;
  color: #eee;
  padding: 12px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Beleren Bold';
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 9px;
  position: relative;
  left: 50%;
  width: 90%;
  transition: background .7s;
  transform: translate(-50%, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.menuButton:hover {
  background: #222;
}

.mainMenuText {
  font-family: 'Beleren Bold';
  user-select: none;
}

#mainMenuTitle {
  font-family: 'Beleren Bold';
  font-size: 30px;
  user-select: none;
}

.expandiv {
  overflow-y: hidden;
}

.collapsediv {
  height: 0px;
}

#credits {
  font-family: 'Beleren Bold';
  font-size: 18px;
  cursor: pointer;
  line-height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.rotato {
  transform: rotate(-180deg);
}

#creditText {
  font-family: 'Roboto Mono';
  font-size: 13px;
}

#creditExpand {
  font-size: 18px;
  position: relative;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  top: 3px;
}

#disclaimer {
  font-family: 'Beleren Bold';
  font-size: 18px;
  cursor: pointer;
  line-height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#disclaimerText {
  font-family: 'Roboto Mono';
  font-size: 11px;
  text-align: justify;
}

#disclaimerExpand {
  font-size: 18px;
  position: relative;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  top: 3px;
}

#easterEggHeart {
  cursor: pointer;
  font-size: 11px;
  color: #64baf7;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#rab {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#bmad {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.jconfirm.jconfirm-dark .jconfirm-bg {
  background-color: black !important;
}

/* loader */
.loaderContainer {
  height: 10px;
}

.loader {
  position: relative;
  top: min(160px, -20px + 42vw);
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  /* margin: 15px auto; */
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }

  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }

  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
  }

  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
  }

  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }

  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
